/* Your code goes here */
.container {
    display: flex;
    flex-flow: row wrap;  /* Combination of flex-direction and flex-wrap*/
    /*flex-direction: row;  row, row-reverse, column, column-reverse
    flex-wrap: wrap; default: nowrap, wrap, wrap-reverse*/
    justify-content: flex-start; /*flex-start, flex-end, center, space-around, space-between*/
    align-items: flex-start; /*stretch, flex-start, flex-end, center, baseline*/
    border: 1px solid #fff;
    height: 300px;
    width: 500px;
}

.container div {
    float: right;
}

.container div:nth-child(2) {
    order: -1;  /*is 0 by default always*/
    align-self: stretch;
}

.container div:nth-child(5) {
    order: 1;  /*is 0 by default always*/
    align-self: flex-end;
}

.container div:nth-child(3) {
    order: 5;  /*is 0 by default always*/
}