/* Your code goes here */
.container {
    display: flex;
    flex-flow: row wrap;  /* Combination of flex-direction and flex-wrap*/
    /*flex-direction: row;  row, row-reverse, column, column-reverse
    flex-wrap: wrap; default: nowrap, wrap, wrap-reverse*/
    /*justify-content: flex-start; flex-start, flex-end, center, space-around, space-between*/
    /* align-items: flex-start; stretch, flex-start, flex-end, center, baseline*/
    border: 1px solid #fff;
    width: 800px;
}

/*
    flex-basis
    container has a) space left or b) is overfull
    look at a) flew-grow and b) flex-shrink
    calculate portions each items will grow / shrink
    add that to the base size
*/

.container div {
    float: right;
    margin: 0;
    flex-basis: 200px;  /*takes precedent over width*/
    flex-grow: 1;
    flex-shrink: 1;
    flex: 1 1 20%; /*grow, shrink, basis*/
}

.container div:nth-child(2) {
    flex-shrink: 2; /*set to 1 by default*/
}

.container div:nth-child(3) {
    
}